<div id="content" class="content">
    <div class="section_header">Settings</div>

    <div ng-if="authenticated">
        <h1>Profile</h1>
        <label>Name</label>
        <p>{{user.name}}</p>

        <label>Username:</label>
        <p>{{user.username}}</p>

        <label>Partner:</label>
        <p>{{user.partnerUsername}}</p>
        <hr/>
        <input type="text" class="form-control" placeholder="Update partner username" ng-model="partner.username" />
        <br/>
        <button class="btn btn-success" ng-click="updatePartnerUsername()">Update Partner</button>

        <div class="alert alert-warning" ng-if="!userFound">That user was not found and was not added as your partner</div>

        <button class="btn btn-primary" ui-sref="confirmation">Confirm your answers</button>

        <button ng-if="!authenticated" class="btn blue-translucent" ui-sref="createAccount">Create Account</button>

        <button class="btn btn-warning" ng-click="logout()">
            Logout
        </button>

        <!--        <pre>{{partner | json }}</pre>-->
    </div>

    <div ng-if="!authenticated">
        <p>You are not signed in yet.</p>

        <button class="btn btn-primary" ui-sref="login">Login</button>
    </div>


</div>