<div class="row">
    <div class="col-sm-6">
        <h1>Current State</h1>
        <hr/>
        <div class="row">
            <div class="col-sm-3 center">
                <img src="images/therm.png" width="180" height="300" class="img img-responsive center" />
                <br/>
                <br/>
            </div>
            <div class="col-sm-3 center">
                <img src="images/therm.png" width="180" height="300" class="img img-responsive center" />
                <br/>
                <br/>
            </div>
            <div class="col-sm-3 center">
                <img src="images/therm.png" width="180" height="300" class="img img-responsive center" />
                <br/>
                <br/>
            </div>

            <div class="col-sm-3 center">
                <img src="images/therm.png" width="180" height="300" class="img img-responsive center" />
                <br/>
                <br/>
            </div>


        </div>

        <div id="scoreDetailsSection">

            <h1>Score Details</h1>
            <hr/>
            <div class="row">
                <div class="col-sm-4 ">
                    <div>Mean</div>
                    <div class="counts"><strong><span class="glyphicon glyphicon-resize-small"></span> {{currentReading.mean}}</strong></div>

                </div>
                <div class="col-sm-4 ">

                    <div>Z Score</div>
                    <div class="counts"><strong><span class="glyphicon glyphicon-tasks"></span> {{currentReading.zScore}}</strong></div>
                </div>
                <div class="col-sm-4 ">
                    <div>Standard Deviation</div>

                    <div class="counts"><strong><span class="glyphicon glyphicon-equalizer"></span> {{currentReading.standardDeviation}}</strong></div>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-sm-4 ">
                    <div> Trust Score</div>

                    <div class="counts"><strong><span class="glyphicon glyphicon-thumbs-up"></span> {{currentReading.trustScore}} / 3</strong></div>
                </div>
                <div class="col-sm-4 ">
                    <div> Payout</div>

                    <div class="counts"><strong><span class="glyphicon glyphicon-credit-card"></span>  ${{currentReading.payout}}</strong></div>
                </div>
                <div class="col-sm-4 ">
                    <div>Opportunity Earnings</div>

                    <div class="counts"><strong><span class="glyphicon glyphicon-send"></span> ${{0.09- currentReading.payout}}</strong></div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-6">
        <h1>Histogram</h1>
        <hr/>
        <div id="myDiv"></div>
        <br/>
        <br/>

        <h1>Live Feed</h1>
        <hr/>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Thermometer</th>
                    <th>Timestamp</th>
                    <th>Reading</th>
                    <th>Mean</th>
                    <th>Z-Score</th>
                    <th>Standard Deviation</th>
                    <th>Trust</th>
                    <th>Payout</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="thermometer in thermometerReadings">
                    <td>Therm</td>
                    <td>{{thermometer.timestamp | date: 'medium'}}</td>
                    <td>{{thermometer.x}}</td>
                    <td>{{thermometer.mean}}</td>
                    <td>{{thermometer.zScore}}</td>
                    <td>{{thermometer.standardDeviation}}</td>
                    <td>{{thermometer.trustScore}}</td>
                    <td>{{thermometer.payout}}</td>

                </tr>
            </tbody>
        </table>
    </div>

</div>